/*Crvena: #f38181
Tamno plava (header i footer): #374249
Boja fonta: #797979
Naslovi: #374249
Svetlo siva 1 (hover na dugmice): #cfd1d3
Svetlo siva 2 (pozadina sekcija): #f3f7f9*/
$buttons_hover:#cfd1d3;
$bkg_section:#f3f7f9;
$heading_color:#374249;
$main_font:#797979;
$blue_dark:#374249;
$red:#f38181;
$font:'Roboto', sans-serif;
