@import "vars";
@import "mixins";

body{
    margin:0;
    padding:0;
    font-family: $font;
}

header{
    background-color: $blue_dark;
    width:100%;
    height:4em;
    nav{
        text-align: right;
        ul{
            list-style: none;
            
            li{
                color: white;
                display: inline-block;
                padding:1em;
			    a {
				    color: #fff;
				    vertical-align: middle;
				    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
         }
    }
    .menu{
        height: 100%;
        width: 5%;
        background-color: $red;
        float:right;
        margin-left:2em;
        img {
			height: 100%;
			float: right;
		}
    }
}
section {
	width: 100%;
	/*padding: 3em 15%;*/
	@include clearfix;
}
.intro{
    @include cover_background;
    background: url("../slike/intro.jpg");
    background-size: cover;
    height:45em;
    .heading{
        /*display:block;*/
        /*@include providnost(0.3);*/
        background: rgba(55, 66, 73, 0.6);
        margin-top: 37em;;
        padding-top:0.5em;
        padding-bottom: 0.5em;
       h1, h3, h4{
            color:white;
            text-align: center;
            line-height: 0.5em;
    }
}
}
.filter{
    text-align: right;
    height:5em;
    margin-top:2em;
    .button{
        padding: 1em;
        margin: 1em 2em;
        @include buttons;
    }
}
.products{
    height:50em;
    background: $bkg_section;
    /*margin:0 auto;*/
    .pict{
        margin: 2em 20em;
    .info{
        display:none;
        padding:1em;
        text-align: center;
        text-decoration: none;
        h5{
            color:$red;
        }  
        h3{
            text-transform: uppercase;
            color:$main_font;
        }
        
    }
    img{
        width:20%;
        float:left;
        border-radius: 50%;
        @include providnost(0.7);
    }
    &:hover {
        img{
            @include providnost(1);
        }
        .info{
            display: block;
           

        }
     
     
    }
}
        
}
#item1{
    display: inline-block;
    width:60%;
    img{
        float: left;
    }
    .info{
        float:right;
    }
}
#item2{
    display: inline-block;
    width:60%;
    margin-left:20%;
    img{
        float: right;
    }
    .info{
        float:left;
    }

}
#item3{
    display:inline-block;
    width:60%;
    img{
        float:left;
    }
    .info{
        float:right;
    }
}

.contact, .pricing {
	h1 {
		font-size: 2em;
		color: $heading_color;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 1.5em;
	}
}


.pricing {
	color: $main_font;
	text-align: center;

	.pricingTable {
		width: 60%;
		margin: 3em auto;
		border-collapse: collapse;

		th, td {
			padding: .5em;
		}

		.orange {
			background: $red;
			color: #fff;
		}

		.darkCol {
			background: $blue_dark;
			color: #fff;
			font-weight: bold;
		}

		thead {
			.darkCol {
				border-right: 1px solid $main_font;
			}
		}

		tbody {
			td {
				border: 1px solid $main_font;
			}
		}
	} 
}
.contact {
	background: $bkg_section;

	.mapHolder {
		float: left;
		margin: 1em 3em;
		width: 25%;

		iframe {
			width: 100%;
		}
	}

	form {
		width: 60%;
		margin: 1em;
		float: right;
		padding: 1em;
		background: $red;

		.contactInput {
			float: left;
			padding: .5em;
			color: $blue_dark;
			border: none;
			margin: 1em;
		}

		select {
			width: 20%;
		}

		.contactInput[type="text"] {
			float: right;
			width: 70%;
		}

		.contactInput[type="email"] {
			width: 96%;
		}

		textarea.contactInput {
			width: 96%;
		}
	}
}
footer { 
	padding: 1em;
	text-align: center;
	width: 100%;
	background: $blue_dark;
	color: #fff;

	span { color: $red; }
}