@import "vars";
@import "mixins";

body{
    margin:0;
    padding:0;
    font-family: $font;
}

header{
    background-color: $blue_dark;
    width:100%;
    height:4em;
    nav{
        text-align: right;
        ul{
            list-style: none;
            
            li{
                color: white;
                display: inline-block;
                padding:1em;
			    a {
				    color: #fff;
				    vertical-align: middle;
				    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
         }
    }
    .menu{
        height: 100%;
        width: 5%;
        background-color: $red;
        float:right;
        margin-left:2em;
        img {
			height: 100%;
			float: right;
		}
    }
}
section {
	width: 100%;
	/*padding: 3em 15%;*/
	@include clearfix;
}
.intro{
    @include cover_background;
    background: url("../slike/intro.jpg");
    background-size: cover;
    height:45em;
    .heading{
        /*display:block;*/
        /*@include providnost(0.3);*/
        background: rgba(55, 66, 73, 0.6);
        margin-top: 37em;;
        padding-top:0.5em;
        padding-bottom: 0.5em;
       h1, h3, h4{
            color:white;
            text-align: center;
            line-height: 0.5em;
    }
}
}
.filter{
    text-align: right;
    height:10em;
    margin-top:2em;
    .button{
        padding: 1em;
        margin: 1em 2em;
        @include buttons;
    }
}